.Settings {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
}

.SubTabs {
  display: flex;
  flex: none;
  justify-content: center;
  height: var(--g-subtabs-h);
  background: var(--g-subtabs-fill);
  border-bottom: var(--g-subtabs-bw-b) solid var(--g-subtabs-bc);
}

.Body {
  flex: 1;
  min-height: 0;
}
