.SettingRow {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  height: 43px;
  cursor: default;
}

.Label {
  overflow: hidden;
  font-family: var(--g-setting-row-font);
  font-size: var(--g-setting-row-size);
  font-style: var(--g-setting-row-style);
  font-weight: var(--g-setting-row-weight);
  letter-spacing: var(--g-setting-row-letter-spacing);
  text-overflow: ellipsis;
  text-transform: var(--g-setting-row-case);
  white-space: nowrap;
}

.Value {
  display: inline-flex;
  flex: none;
  align-items: center;
  font-size: var(--g-setting-row-size);
  font-weight: 500;
}
