.SettingRow {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  height: 43px;
  cursor: default;
}

.Label {
  overflow: hidden;
  font-family: var(--g-setting-row-font, var(--font-heading));
  font-size: var(--g-setting-row-size, var(--text-md));
  font-style: var(--g-setting-row-style, var(--heading-style));
  font-weight: var(--g-setting-row-weight, var(--heading-weight));
  letter-spacing: var(--g-setting-row-letter-spacing, 0);
  text-overflow: ellipsis;
  text-transform: var(--g-setting-row-case, none);
  white-space: nowrap;
}

.Value {
  display: inline-flex;
  flex: none;
  align-items: center;
  font-size: var(--text-md);
  font-weight: 500;
}
